{% extends 'base.html' %}

{% block content %}

<h1>Update Vendor</h1>
<form method="POST">
    <label>Name:</label>
    <input type="text" name="name" value="{{ vendor.name }}"><br><br>
    <label>Email:</label>
    <input type="email" name="email" value="{{ vendor.email }}"><br><br>
    <label>Phone:</label>
    <input type="text" name="phone" value="{{ vendor.phone }}"><br><br>
    <label>Address:</label>
    <textarea name="address">{{ vendor.address }}</textarea><br><br>
    <input type="submit" value="Update">
</form>

{% endblock %}